body {
    background-color: black;
}

.topHeader {
    width: 100%;
    height: 60px;
    background-color: #EC2B30;
}

.topHeader img {
    position: relative;
    float: right;
    top: 5px;
    z-index: 1;
}

.topHeader h6 {
    position: absolute;
    color: white;
    font-family: "Advent Pro";
    font-size: 50;
    float: left;
    top: -110px;
    left: 10px;
    z-index: 1;
    width: 100%;
}

.popup {
    position: absolute;
    display: inline-block;
    cursor: pointer;
}

/* The actual popup (appears on top) */

.popup .popuptext {
    visibility: hidden;
    /* Popup starts hidden, will be shown by toggling show */
    background-color: #555;
    color: #fff;
    text-align: center;
    /* border-radius: 6px; */
    width: 125px;

    border: 2px solid black;

    padding-left: 8px;
    padding-right: 8px;
    padding-top: 4px;
    padding-bottom: 4px;

    position: absolute;
    z-index: 1;
    bottom: 125%;
    left: 50%;
    margin-left: -80px;
    font-family: "Advent Pro";
    font-size: 20;
}

/* Toggle this class when clicking on the popup container (hide and show the popup) */

.popup .show {
    visibility: visible;
    -webkit-animation: fadeIn 1s;
    animation: fadeIn 1s
}

/* Disables Highlighting Feature */

div.noSelect {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
}

#searchbar {
    /* border-radius: 5px; */
    outline: none;
    background-color: dimgray;
    border: 2px solid black;
    color: white;
    position: absolute;
    left: 775px;
    top: 75px;
    width: 350px;
    height: 30px;
    text-decoration-color: white;
    font-family: "Advent Pro";
    font-size: 20;
}

#searchbar:focus {
    -webkit-animation: changeDimGray .5s;
    animation: changeDimGray .5s;
    outline: none;
    background-color: dimgray;
    border: 2px solid black;
    color: white;
    text-decoration-color: white;
}

#searchbar:hover {
    -webkit-animation: changeDimGray .5s;
    animation: changeDimGray .5s;
    outline: none;
    background-color: dimgray;
    border: 2px solid black;
    color: white;
    text-decoration-color: white;
}
#tableOfRooms {
    border-collapse: collapse;
    width: 350px;
    border: 2px solid black;

    position: absolute;

    left: 775px;
    top: 110px;
    background-color: #555;
}

#tableOfRooms,
#tableofRooms th,
#tableOfRooms tr,
#tableOfRooms td {
    background-color: #555;
    font-family: "Advent Pro";
    font-size: 20;
    text-align: left;
    padding: 2px;
    color: white;
}

#tableOfRooms tr,
#tableOfRooms td {
    background-color: #555;
    border-top: 2px solid black;
}

#tableOfRooms tr.header,
#tableOfRooms td.header,
#tableOfRooms tr:hover,
#tableOfRooms td:hover {
    background-color: #f1f1f1;
    color: black;
}

@-webkit-keyframes changeBlue {
    from {
        background-color: dimgray;
    }
    to {
        background-color: blue;
    }
}

@keyframes changeBlue {
    from {
        background-color: dimgray;
    }
    to {
        background-color: blue;
    }
}

@-webkit-keyframes changeGreen {
    from {
        background-color: dimgray;
    }
    to {
        background-color: green;
    }
}

@keyframes changeGreen {
    from {
        background-color: dimgray;
    }
    to {
        background-color: green;
    }
}

@-webkit-keyframes changeDimGray {
    from {
        background-color: white;
    }
    to {
        background-color: dimgray;
    }
}

@keyframes changeDimGray {
    from {
        background-color: white;
    }
    to {
        background-color: dimgray;
    }
}

@-webkit-keyframes changeYellow {
    from {
        background-color: dimgray;
    }
    to {
        background-color: purple;
    }
}

@keyframes changeYellow {
    from {
        background-color: dimgray;
    }
    to {
        background-color: purple;
    }
}

/* Add animation (fade in the popup) */

@-webkit-keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
